<div class="flex-1 px-4 md:p-0">
  <div class="text-center mb-10 text-[var(--color-text-primary)]">
    <h1 class="text-4xl mb-3 font-bold">{{ 'auth.signup-title' | translate }}</h1>
    <p class="text-textSecondary">{{ 'auth.signup-subtitle' | translate }}</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-10">
    <div class="flex flex-col gap-4">
      <lib-input
        [label]="'auth.email' | translate"
        formControlName="email"
        [placeholder]="'auth.email' | translate"
        type="email"
      />
      <lib-input
        [label]="'auth.password' | translate"
        formControlName="password"
        [placeholder]="'auth.password' | translate"
        [type]="'password'"
      />
    </div>
    <div class="flex flex-col gap-4">
      <div class="flex justify-center text-sm mx-auto">
        <lib-button
          [variant]=ButtonVariant.CONTAINED
        >
          {{ 'auth.signup-btn' | translate }}
        </lib-button>
      </div>
      <div class="text-center">
        <a [routerLink]="['/auth', 'login']" class="text-textSecondary hover:text-primary transition-colors text-sm cursor-pointer">
          {{ 'auth.have-account' | translate }}
        </a>
      </div>
    </div>
  </form>
</div>
