<div class="flex-1 px-4 md:p-0">

  <!-- Title -->
  <div class="text-center mb-10 text-white">
    <h1 class="text-4xl mb-3">Register now</h1>
    <p>Welcome! Sign up to continue</p>
  </div>

  <!-- Form -->
  <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-10">

    <div class="flex flex-col gap-4">
      <!-- Email -->
      <lib-input
        formControlName="email"
        placeholder="Email"
        type="email"
      />

      <!-- Password -->
      <lib-input
        formControlName="password"
        placeholder="Password"
        [type]="'password'"
      />
    </div>

    <div class="flex flex-col gap-4">
      <!-- Button -->
      <div class="flex justify-center text-sm">
        <lib-button
          [variant]=ButtonVariant.CONTAINED
        >
          CREATE ACCOUNT
        </lib-button>
      </div>

      <!-- Have an account -->
      <div class="text-center">
        <a [routerLink]="['/auth', 'login']" class="text-secondary hover:text-white text-sm cursor-pointer">
          I HAVE AN ACCOUNT
        </a>
      </div>
    </div>
  </form>
</div>
