<div class="dialog-container" [formGroup]="languageForm">
  <div class="dialog-header">
    <h2 class="text-xl font-bold">{{ 'languages.dialogs.addTitle' | translate }}</h2>
    <button (click)="close()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dialog-body">
    <lib-select
      [label]="'languages.form.selectLanguage' | translate"
      [placeholder]="'languages.form.chooseLanguage' | translate"
      [options]="langOptions"
      formControlName="name">
    </lib-select>

    <lib-select
      [label]="'languages.form.proficiencyLevel' | translate"
      [options]="proficiencyOptions"
      formControlName="proficiency">
    </lib-select>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <div class="flex gap-4">
      <lib-button
        [width]="ButtonSize.CONTENT"
        [variant]="ButtonVariant.OUTLINED"
        (click)="close()">
        {{ 'languages.dialogs.cancel' | translate }}
      </lib-button>
      <lib-button
        [width]="ButtonSize.CONTENT"
        (click)="confirm()"
        [disabled]="languageForm.invalid">
        {{ 'languages.dialogs.confirm' | translate }}
      </lib-button>
    </div>
  </mat-dialog-actions>
</div>
