<div class="min-h-screen">

  <lib-table
    [items]="cvsTableData()"
    [columns]="columns"
    [detailTemplate]="detailInfo"
    [isAdmin]="true"
    [type]="TableType.CV"
    addItemBtnLabel="+ CREATE CV"
    (addItemBtnAction)="handleAddItem()"
    (updateItemBtnAction)="handleUpdate($event)">
  </lib-table>

  <ng-template #detailInfo let-row>

    <div class="description-box">
      <p>{{ row.description }}</p>

      <div class="tags mt-3 flex gap-2">
        @for (skill of row.skills; track skill.id) {
          <span class="tag">{{ skill }}</span>
        }
      </div>
    </div>

  </ng-template>

</div>
