@use '@angular/material' as mat;

$my-typography: mat.m2-define-typography-config(
  $font-family: 'inherit',
  $button: mat.m2-define-typography-level(16px, 24px, 400),
  $body-1: mat.m2-define-typography-level(16px, 24px, 400)
);

$my-theme: mat.m2-define-dark-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-pink-palette),
    accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
  ),
  typography: $my-typography,
));

@include mat.core();
@include mat.all-component-themes($my-theme);
@include mat.typography-hierarchy($my-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #C62F31;
  --color-bg: #353535;
  --color-surface: #2a2a2a;
  --color-border: #646464;
  --color-text-primary: #ffffff;
  --color-text-secondary: #767676;
}

.dark {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

.page-content {
  @apply flex gap-3;
}


input {
  outline: none;
  border: none;
}

// Breadcrumbs
.xng-breadcrumb-root{
  @apply py-3
}
.xng-breadcrumb-item .xng-breadcrumb-link{
  @apply text-textSecondary
}
.xng-breadcrumb-item .xng-breadcrumb-trail{
  @apply text-primary
}

.xng-breadcrumb-list .xng-breadcrumb-separator{
  content: "";
}
