@use '@angular/material' as mat;

@include mat.core();

$my-typography: mat.m2-define-typography-config(
  $font-family: 'inherit',
  $button: mat.m2-define-typography-level(16px, 24px, 400),
  $body-1: mat.m2-define-typography-level(16px, 24px, 400)
);

$light-theme: mat.m2-define-light-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-red-palette),
    accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
  ),
  typography: $my-typography,
));

$dark-theme: mat.m2-define-dark-theme((
  color: (
    primary: mat.m2-define-palette(mat.$m2-red-palette),
    accent: mat.m2-define-palette(mat.$m2-blue-grey-palette),
  ),
  typography: $my-typography,
));

@include mat.all-component-themes($light-theme);

:root {
  --color-primary: #C62F31;
  --color-bg: #ffffff;
  --color-text-primary: #646464;
  --color-border: #646464;
}

.dark {
  @include mat.all-component-colors($dark-theme);

  --color-bg: #353535;
  --color-surface: #2a2a2a;
  --color-text-primary: #ffffff;

  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

@tailwind base;
@tailwind components;
@tailwind utilities;


// transitions
* {
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}


.page-content {
  @apply flex gap-3;
}


input {
  outline: none;
  border: none;
}

// Breadcrumbs
.xng-breadcrumb-root{
  @apply py-3
}
.xng-breadcrumb-item .xng-breadcrumb-link, .xng-breadcrumb-trail{
  @apply text-textSecondary
}
.xng-breadcrumb-item .user-breadcrumb{
  @apply text-primary
}

.xng-breadcrumb-list .xng-breadcrumb-separator{
  content: "";
}
