<div class="max-w-4xl mx-auto">
  <lib-avatar
    [src]="selectedUser().profile.avatar"
    [name]="selectedUser().profile.full_name || ''"
    [email]="selectedUser().email"
    [metadata]="('user.profile.memberSince' | translate) + (selectedUser().created_at | date)"
    [isEditable]="isOwnProfile()"
    (imageChanged)="uploadAvatar($event)"
  ></lib-avatar>

  <form [formGroup]="profileForm" (ngSubmit)="updateUserDataAndProfile()" class="mt-8 grid grid-cols-1 md:grid-cols-2 gap-4">
    <lib-input
      [label]="'user.profile.form.firstName' | translate"
      formControlName="firstName"
      [placeholder]="'user.profile.form.firstNamePlaceholder' | translate"
    ></lib-input>

    <lib-input
      [label]="'user.profile.form.lastName' | translate"
      formControlName="lastName"
      [placeholder]="'user.profile.form.lastNamePlaceholder' | translate"
    ></lib-input>

    <lib-select
      [label]="'user.profile.form.department' | translate"
      [options]="departmentOptions()"
      formControlName="department"
    ></lib-select>

    <lib-select
      [label]="'user.profile.form.position' | translate"
      [options]="positionOptions()"
      formControlName="position"
    ></lib-select>

    @if (isOwnProfile() || isAdmin()) {
      <div></div>
      <div>
        <lib-button [disabled]="profileForm.invalid || profileForm.pristine" [variant]=ButtonVariant.CONTAINED [width]="ButtonSize.FULL">
          {{ 'user.profile.actions.update' | translate }}
        </lib-button>
      </div>
    }
  </form>
</div>
