<div class="dialog-container" [formGroup]="userForm">
  <div class="dialog-header">
    <h2 class="text-xl font-bold">{{ 'users.list.dialogs.updateTitle' | translate }}</h2>
    <button (click)="close()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dialog-body">
    <lib-input
      [label]="'auth.email' | translate"
      [placeholder]="'auth.email' | translate"
      formControlName="email"
    ></lib-input>
    <lib-input
      type="password"
      [label]="'auth.password' | translate"
      [placeholder]="'auth.password' | translate"
      formControlName="password"
    ></lib-input>
    <lib-input
      [label]="'user.profile.form.firstName' | translate"
      [placeholder]="'user.profile.form.firstName' | translate"
      formControlName="firstName"
    ></lib-input>
    <lib-input
      [label]="'user.profile.form.lastName' | translate"
      [placeholder]="'user.profile.form.lastName' | translate"
      formControlName="lastName"
    ></lib-input>

    <lib-select
      [label]="'user.profile.form.department' | translate"
      [placeholder]="'user.profile.form.chooseDepartment' | translate"
      [options]="departmentOptions"
      formControlName="department"
    ></lib-select>

    <lib-select
      [label]="'user.profile.form.position' | translate"
      [placeholder]="'user.profile.form.choosePosition' | translate"
      [options]="positionOptions"
      formControlName="position"
    ></lib-select>

    <lib-select
      [label]="'users.list.form.role' | translate"
      [placeholder]="'users.list.form.chooseRole' | translate"
      [options]="roleOptions"
      formControlName="role"
    ></lib-select>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <div class="flex gap-4">
      <lib-button
        [width]="ButtonSize.FULL"
        [variant]="ButtonVariant.OUTLINED"
        [textColor]="ButtonTextColor.SECONDARY"
        (click)="close()">
        {{ 'users.list.dialogs.cancel' | translate }}
      </lib-button>
      <lib-button
        [width]="ButtonSize.FULL"
        (click)="confirm()"
        [disabled]="userForm.invalid">
        {{ 'users.list.dialogs.update' | translate }}
      </lib-button>
    </div>
  </mat-dialog-actions>
</div>
