<div class="min-h-screen">
  <lib-table
    [items]="projectsTableData()"
    [columns]="columns"
    [detailTemplate]="projectDetail"
    [isAdmin]="true"
    [type]="TableType.PROJECT"
    addItemBtnLabel="+ CREATE PROJECT"
    (addItemBtnAction)="openCreateProjectDialog()"
    (updateItemBtnAction)="openUpdateProjectDialog()"
    (deleteItemBtnAction)="openDeleteProjectDialog($event)"
  >
  </lib-table>

  <ng-template #projectDetail let-row>
    <div class="description-box">
      <p>{{ row.description }}</p>

      <div class="tags mt-3 flex gap-2 flex-wrap">
        @for (tag of row.tags; track tag) {
          <span class="tag">{{ tag }}</span>
        }
      </div>
    </div>
  </ng-template>
</div>
