<div class="min-h-screen">

  <lib-table
    [items]="projectsTableData()"
    [columns]="columns"
    [detailTemplate]="detailInfo"
    [isAdmin]="true"
    [type]="TableType.PROJECT"
    addItemBtnLabel="+ CREATE PROJECT"
    (addItemBtnAction)="openCreateProjectDialog()"
    (deleteItemBtnAction)="openDeleteProjectDialog($event)"
    (updateItemBtnAction)="openUpdateProjectDialog($event)"
  >
  </lib-table>

  <ng-template #detailInfo let-row>

    <div class="description-box">
      <p>{{ row.description }}</p>

      <div class="tags mt-3 flex flex-wrap gap-2 whitespace-nowrap">
        @for (env of row['environment']; track env) {
          <span class="tag">{{ env }}</span>
        }
      </div>
    </div>

  </ng-template>

</div>
