<div class="dialog-container" [formGroup]="projectForm">
  <div class="dialog-header">
    <h2>{{ 'projects.list.dialogs.updateTitle' | translate }}</h2>
    <button (click)="close()" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dialog-body">
    <div class="grid grid-cols-2 gap-2">
      <lib-input
        [label]="'projects.list.form.name' | translate"
        formControlName="project"
      ></lib-input>

      <lib-input
        [label]="'projects.list.form.domain' | translate"
        formControlName="domain"
      ></lib-input>

      <lib-input
        type="date"
        [label]="'projects.list.form.startDate' | translate"
        formControlName="startDate"
      ></lib-input>

      <lib-input
        type="date"
        [label]="'projects.list.form.endDate' | translate"
        formControlName="endDate"
      ></lib-input>

      <div class="col-span-2">
        <lib-text-area
          [label]="'projects.list.form.description' | translate"
          formControlName="description"
        ></lib-text-area>
      </div>

      <div class="col-span-2">
        <lib-multi-select
          [label]="'projects.list.form.environment' | translate"
          [options]="envOptions()"
          formControlName="environment"
        ></lib-multi-select>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="p-4">
    <div class="flex gap-4 w-full justify-end">
      <lib-button
        [variant]="ButtonVariant.OUTLINED"
        [textColor]="ButtonTextColor.SECONDARY"
        (click)="close()">
        {{ 'projects.list.dialogs.cancel' | translate }}
      </lib-button>
      <lib-button
        (click)="confirm()"
        [disabled]="projectForm.invalid">
        {{ 'projects.list.dialogs.update' | translate }}
      </lib-button>
    </div>
  </mat-dialog-actions>
</div>
