<div class="dialog-container" [formGroup]="skillForm">
  <div class="dialog-header">
    <h2 class="text-xl font-bold">{{ 'skills.dialogs.updateTitle' | translate }}</h2>
    <button (click)="close()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dialog-body">
    <lib-select
      [label]="'skills.form.selectSkill' | translate"
      [placeholder]="'skills.form.chooseSkill' | translate"
      [options]="[{label: data.name, value: data.id}]"
      formControlName="skillId"
    >
    </lib-select>

    <lib-select
      [label]="'skills.form.masteryLevel' | translate"
      [options]="masteryOptions"
      formControlName="mastery">
    </lib-select>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <div class="flex gap-4">
      <lib-button
        [width]="ButtonSize.CONTENT"
        [variant]="ButtonVariant.OUTLINED"
        (click)="close()">
        {{ 'skills.dialogs.cancel' | translate }}
      </lib-button>
      <lib-button
        [width]="ButtonSize.CONTENT"
        (click)="confirm()"
        [disabled]="skillForm.invalid">
        {{ 'skills.dialogs.confirm' | translate }}
      </lib-button>
    </div>
  </mat-dialog-actions>
</div>
