<div class="dialog-container" [formGroup]="cvForm">
  <div class="dialog-header">
    <h2 class="text-xl font-bold">{{ 'cv.list.dialogs.createTitle' | translate }}</h2>
    <button (click)="close()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dialog-body">
    <lib-input
      [label]="'cv.form.name' | translate"
      [placeholder]="'cv.form.name' | translate"
      formControlName="name"
    ></lib-input>
    <lib-input
      [label]="'cv.form.education' | translate"
      [placeholder]="'cv.form.education' | translate"
      formControlName="education"
    ></lib-input>
    <lib-text-area
      [label]="'cv.form.description' | translate"
      [placeholder]="'cv.form.description' | translate"
      formControlName="description"
    ></lib-text-area>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <div class="flex gap-4">
      <lib-button
        [width]="ButtonSize.FULL"
        [variant]="ButtonVariant.OUTLINED"
        [textColor]="ButtonTextColor.SECONDARY"
        (click)="close()">
        {{ 'cv.list.dialogs.cancel' | translate }}
      </lib-button>
      <lib-button
        [width]="ButtonSize.FULL"
        (click)="confirm()"
        [disabled]="cvForm.invalid">
        {{ 'cv.list.dialogs.create' | translate }}
      </lib-button>
    </div>
  </mat-dialog-actions>
</div>
