<div class="dialog-container">
  <div class="dialog-header">
    <h2 class="text-xl font-bold">{{ 'users.list.dialogs.deleteTitle' | translate }}</h2>
    <button (click)="close()" class="close-btn">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-dialog-content class="dialog-body">
    {{ 'users.list.dialogs.deleteConfirm' | translate }} <b>{{ data.profile.first_name }} {{ data.profile.last_name }}?</b>
  </mat-dialog-content>

  <mat-dialog-actions align="end" class="dialog-actions">
    <div class="flex gap-4">
      <lib-button
        [width]="ButtonSize.FULL"
        [variant]="ButtonVariant.OUTLINED"
        [textColor]="ButtonTextColor.SECONDARY"
        (click)="close()">
        {{ 'users.list.dialogs.cancel' | translate }}
      </lib-button>
      <lib-button
        [width]="ButtonSize.FULL"
        (click)="confirm()">
        {{ 'users.list.dialogs.confirm' | translate }}
      </lib-button>
    </div>
  </mat-dialog-actions>
</div>
