<div class="flex-1 flex flex-col max-w-md justify-center">
  <div class="text-center mb-10 text-white">
    <h1 class="text-4xl mb-3">Reset password</h1>
    <p>Enter your new password</p>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col gap-10">
    <lib-input
      formControlName="password"
      placeholder="New Password"
      [type]="'password'"
    />
    <lib-input
      formControlName="confirmPassword"
      placeholder="Confirm Password"
      [type]="'password'"
    />

    <div class="flex justify-center text-sm mx-auto">
      <lib-button [variant]="ButtonVariant.CONTAINED">RESET PASSWORD</lib-button>
    </div>

    <div class="text-center pt-2">
      <a [routerLink]="['/auth/login']" class="text-textSecondary hover:text-white text-sm cursor-pointer">
        CANCEL
      </a>
    </div>
  </form>
</div>
